<header class='top-page-header bg-secondary' style="height: 120px;">
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-6'>
        <div class='nav'>
          <ul class='lists-right' style="list-style-type: none; display: flex; justify-content: center;">
            <% if user_signed_in? %>
            <li class="nav-item" style="margin-right: 30px;">
                <%= link_to(root_path, class: "navbar-brand text-light me-2") do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M0 5l8-5 8 5v9.75a.25.25 0 0 1-.25.25h-3.5a.75.75 0 0 0-.75.75v-3h-5v3a.75.75 0 0 0-.75-.75h-3.5a.25.25 0 0 1-.25-.25V5z"/>
                    <path d="M13 3.268V1h-2v2.268L8 2l-3 2V1H3v2.268L1 3.268V5l7 4.667L15 5v-.732L13 5z"/>
                  </svg>
                <% end %>
              </li>
              <li class="list-inline-item me-2">
                <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-success btn-lg", style: "width: 200px; height: 80px; font-size: 30px;", data: { confirm: '本当にログアウトしますか？' } %>
              </li>
            <% else %>
              <li class="nav-item" style="margin-right: 30px;">
                <%= link_to(root_path, class: "navbar-brand text-light me-2") do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M0 5l8-5 8 5v9.75a.25.25 0 0 1-.25.25h-3.5a.75.75 0 0 0-.75.75v-3h-5v3a.75.75 0 0 0-.75-.75h-3.5a.25.25 0 0 1-.25-.25V5z"/>
                    <path d="M13 3.268V1h-2v2.268L8 2l-3 2V1H3v2.268L1 3.268V5l7 4.667L15 5v-.732L13 5z"/>
                  </svg>
                <% end %>
              </li>
              <li class="list-inline-item me-2">
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary", role: "button", style: "width: 200px; height: 80px; font-size: 30px;" %>
              </li>
              <li class="list-inline-item me-2">
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-success", role: "button", style: "width: 200px; height: 80px; font-size: 30px;" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>