<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8">
      <h1 class="text-center mb-4">新しい投稿</h1>

      <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-6 mt-5">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %>
        </div>

        <div class="mb-6 mt-5">
          <%= form.label :content, class: "form-label" %>
          <%= form.text_area :content, class: "form-control", placeholder: "内容を入力してください", rows: 5 %>
        </div>

        <div class="mb-6 mt-5">
          <%= form.label :image, class: "form-label" %>
          <%= form.file_field :image, class: "form-control" %>
        </div>

        <div class="mb-6 mt-5">
          <%= form.label :category, class: "form-label" %>
          <div class="form-check">
            <%= form.radio_button :category_id, 1, id: "reduce_salt", class: "form-check-input" %>
            <%= form.label "reduce_salt", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :category_id, 2, id: "reduce_sugar", class: "form-check-input" %>
            <%= form.label "reduce_sugar", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :category_id, 3, id: "high_protein", class: "form-check-input" %>
            <%= form.label "high_protein", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :category_id, 4, id: "obesity_prevention", class: "form-check-input" %>
            <%= form.label "obesity_prevention", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :category_id, 5, id: "cold_prevention", class: "form-check-input" %>
            <%= form.label "cold_prevention", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :category_id, 6, id: "others", class: "form-check-input" %>
            <%= form.label "others", class: "form-check-label" %>
          </div>
        </div>

        <div id="selected-categories" class="mt-3"></div> <!-- 選択したカテゴリーが表示される領域 -->

        <% if user_signed_in? %>
          <div class="text-center mt-5">
            <%= form.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% else %>
          <p class="text-center mt-5">投稿するにはログインしてください。</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>