%= form_with(model: post, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %>
  </div>
  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control", placeholder: "内容を入力してください" %>
  </div>
  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <%= form.submit "投稿する", class: "btn btn-primary" %>
<% end %>